p {
	
	text-size:normal;
}
.orta{
	background-color:#D3D3D3;
	width:900px;
	height:800px;
	margin:50px auto;
	
}
.menu{
	height:150px;
	width:900px;
	margin:50px auto;
	background-color:gray;
}
.logo{
	
	width:251px;
	height:201px;
	margin:50px 0px;
	background-color:red;
}




